# Django関連
Django==4.1.7
django-allauth
django-cors-headers
psycopg2-binary
gunicorn
uvicorn
whitenoise

# DRF関連
djangorestframework==3.14.0
djangorestframework-camel-case
djangorestframework-simplejwt
dj-rest-auth
drf-spectacular

# その他
black
pylint
